body {
  text-align: center;
  font-family: Helvetica
}
.background {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
.header--main {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.link--nav {
  color: white;
  font-size: 18px;
}
